= provide(:title, "Контакты")
%div.content.row{:style => "margin: 0;"}
  .col-xs-12.col-sm-12.col-md-6.col-lg-6{:style => "text-align: center"}
    %a{:href => "https://maps.yandex.ua/?um=constructor:8MtSObNo-TbdrYzZBQks2IYSX3nWAmr3&source=constructor", :target => "_blank"}
      %img.map{:alt => "", :src => "https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=8MtSObNo-TbdrYzZBQks2IYSX3nWAmr3&width=600&height=450&lang=uk_UA&sourceType=constructor", :style => "border: 0;"}/
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.contacts
    %h2.address
      Мы находимся по адресу:
      %br/
      %br/
      %i.fa.fa-map-marker{"aria-hidden" => "true"}
      Украина, г.Одесса, ул.Гайдара, 34
    %br/
    %h3.numbers
      Контактные номера:
      %br/
      %br/
      %i.fa.fa-phone{"aria-hidden" => "true"}
      (048) 788-04-21
      %br/
      %br/
      %i.fa.fa-phone{"aria-hidden" => "true"}
      (068) 310-36-38
      %br/
      %br/
      Отдел продаж новостроя:
      %br/
      %br/
      %i.fa.fa-phone{"aria-hidden" => "true"}
      (048) 788-04-23
      %br/
      %br/
      %i.fa.fa-phone{"aria-hidden" => "true"}
      (068) 310-36-39
      %h3
        %h3.vk Мы в социальных сетях:
        %h3#vk.vk
          %a{:href => "https://vk.com/imperia_kvartir_odessa"}
            %i.fa.fa-vk.fa-2x{"aria-hidden" => "true"}
