= provide(:title, "Главная")
%div.row
  %div.col-xs-12.col-sm-12.col-md-4.col-lg-4
    = image_tag("main.jpg")
  %div.col-xs-12.col-sm-12.col-md-8.col-lg-8
    %div.text
      %h2
        ООО «Региональный центр недвижимости»
      %h3
        Агентство недвижимости :
      %p
        Региональный центр недвижимости «Империя квартир» - это новый надёжный партнёр на рынке недвижимости, который предоставит Вам полный спектр профессиональных услуг с совершенно новым подходом в этой области.
      %p
        В Региональном центре недвижимости «Империя квартир» работает опытный молодой коллектив, который готов предоставить Вам качественную бесплатную консультацию по интересующему Вас вопросу в области недвижимости.
      %p
        Региональный центр недвижимости «Империя квартир» сотрудничает только с проверенными, надёжными строительными компаниями. Специалисты нашей компании предоставит Вам качественные услуги по приобретению объектов
        в новостроях от ведущих строительных компаний города, а так же предоставит полную и расширенную информацию о состоянии рынка недвижимости на данный момент и в перспективе. Квалифицированные агенты помогут Вам
        приобрести или продать квартиру (или любой другой вид недвижимости) по Одессе и Одесской области, а так же апартаменты, виллы, дома, коттеджи, участки за рубежом.
      %h3
        Региональный центр недвижимости предлагает своим Клиентам следующие услуги:
      %h3
        Принципы  работы нашей компании:
      %ul{:type => "circle"}
        %li
          Прозрачность и Честность отношений;
        %li
          Высочайший Профессионализм и Качество работы;
        %li
          Мы ценим доверие Клиентов;
        %li
          Мы уважаем интересы Партнёров;
        %li
          Мы используем честные методы конкурентной работы;
        %li
          Мы создаем эффективный, цивилизованный бизнес;
        %li
          Нас рекомендуют друзья, наши клиенты и их друзья;
        %li
          С нами купить просто – жить легко.
      %p
        Мы всегда рады видеть Вас по адресу: г. Одесса, ул. Гайдара 34, где Вас ждёт дружный коллектив профессионалов, а также чашечка кофе и хорошее настроение.
