%div.row
  %div.col-xs-12.col-sm-12.col-md-4.col-lg-4
    = image_tag("kux_stud_02+_P.jpg")
  %div.col-xs-12.col-sm-12.col-md-8.col-lg-8
    %div.text
      %h2
        ООО «Региональный центр недвижимости»
      %h3
        Агентство недвижимости :
      %p
        Региональный центр недвижимости «Империя Квартир» предоставляет своим Клиентам полный комплекс профессиональных услуг на рынке недвижимости.
      %h3
        Региональный центр недвижимости предлагает своим Клиентам следующие услуги:
      %ul
        %li
          Бесплатные консультации;
        %li
          Продажа/покупка недвижимости;
        %li
          Обмен квартир;
        %li
          Бесплатный подбор любого новостроя;
        %li
          Коммерческая недвижимость;
        %li
          Загородная недвижимость;
        %li
          Оценка собственности;
        %li
          Юридическое сопровождение.
      %h3
        Принципы  работы нашей компании:
      %ul{:type => "circle"}
        %li
          Прозрачность и Честность отношений;
        %li
          Высочайший Профессионализм и Качество работы;
        %li
          Мы ценим доверие Клиентов;
        %li
          Мы уважаем интересы Партнёров;
        %li
          Мы используем честные методы конкурентной работы;
        %li
          Мы создаем эффективный, цивилизованный бизнес;
        %li
          Нас рекомендуют друзья, наши клиенты и их друзья;
        %li
          С нами купить просто – жить легко.
.row
  .col-xs-12.col-sm-12.col-md-4.col-lg-4
    .callBackForm{:id => ""}
      %h3
        %i.fa.fa-phone{"aria-hidden" => "true"}
        Оставте Ваши данные и мы перезвоним:
      %form{:action => ""}
      %input{:placeholder => "Ваше имя", :type => "text"}
      %input{:placeholder => "Ваш номер", :type => "text"}
      %input.btn.btn-send{:name => "name", :type => "button", :value => "Оставить"}
