= provide(:title, "Отзывы")
= render 'fb_form'

%h2 Отзывы пользователей:
.feedBacks
  .feedBack.row
    - @fb.each do |fb|
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h3
          = fb.name
        %h4
          = fb.content
