= provide(:title, "Отзывы")
= render 'fb_form'

%h2 Отзывы пользователей:
.feedBacks
  .feedBack.row{ :style => "  background: #b47f2b;  border-radius: 10px;  margin: 30px 0;    padding: 20px 40px;    color: #331e1d; " }
    - @fb.each do |fb|
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        %h3
          = fb.name
        %h4
          = fb.content
