.search
  %h2
    %i.fa.fa-search
    Поиск
  %form{:action => "property.html", :method => "post"}
    .row
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        %p Тип недвижимости:
        %p
          %select#typeOfProperty{:name => ""}
            %option{:value => "1"} Квартиры
            %option{:value => "2"} Комнаты
            %option{:value => "3"} Дома
            %option{:value => "4"} Коммерческая недвижимость
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        %p Район:
        %p
          %select#direct{:name => ""}
            %option{:value => "1"} Суворовский район
            %option{:value => "2"} Приморский район
            %option{:value => "3"} Малиновский район
            %option{:value => "4"} Киевский район
      .col-xs-8.col-sm-8.col-md-3.col-lg-3
        %p Улица
        %p
          %input{:placeholder => "Название улицы", :type => "text"}/
      .col-xs-4.col-sm-4.col-md-1.col-lg-1
        %p.btn-p
          %input.btn.btn-search{:type => "submit", :value => "Поиск"}/
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %p Цена
        %p
          %input{:name => "minCost", :placeholder => "от", :type => "numbers"}/
          %input{:name => "maxCost", :placeholder => "до", :type => "numbers"}/
          %i.fa.fa-usd{"aria-hidden" => "true"}
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %p Количество комнат:
        %p
          %input#checkbox1.css-checkbox{:checked => "checked", :type => "checkbox"}/
          %label.css-label.lite-orange-check{:for => "checkbox1", :name => "checkbox1_lbl"} 1
          %input#checkbox2.css-checkbox{:checked => "checked", :type => "checkbox"}/
          %label.css-label.lite-orange-check{:for => "checkbox2", :name => "checkbox2_lbl"} 2
          %input#checkbox3.css-checkbox{:checked => "checked", :type => "checkbox"}/
          %label.css-label.lite-orange-check{:for => "checkbox3", :name => "checkbox3_lbl"} 3
          %input#checkbox4.css-checkbox{:checked => "checked", :type => "checkbox"}/
          %label.css-label.lite-orange-check{:for => "checkbox4", :name => "checkbox4_lbl"} 4
          %input#checkbox5.css-checkbox{:checked => "checked", :type => "checkbox"}/
          %label.css-label.lite-orange-check{:for => "checkbox5", :name => "checkbox5_lbl"} 5+
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %p Этаж:
        %p
          %input{:name => "minFloor", :placeholder => "от", :type => "numbers"}/
          %input{:name => "maxFloor", :placeholder => "до", :type => "numbers"}/
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %p Этажность:
        %p
          %input{:name => "minNumOfStoreys", :placeholder => "от", :type => "numbers"}/
          %input{:name => "maxNumOfStoreys", :placeholder => "до", :type => "numbers"}/
