/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300&subset=latin,cyrillic);
.content .col-md-4 .text, .content .feed .col-md-8 .text {
  background: #331e1d;
  border-radius: 15px;
  margin: 30px 0;
  padding: 20px 40px;
  color: #b47f2b; }

.content .search, .content .result, .content .feed .feedBack {
  background: #b47f2b;
  border-radius: 10px;
  margin: 30px 0;
  padding: 20px 40px;
  color: #331e1d; }

select, input[type="text"], input[type="password"] {
  width: 95%;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 0;
  background: none;
  border-bottom: 2px solid #331e1d;
  border-radius: 0;
  color: #331e1d; }

body .content .result {
  background: none;
  margin: 30px;
  padding: 10px;
  height: 150px; }

body .row {
  margin-right: 0;
  margin-left: 0; }
body .content .result:hover {
  box-shadow: 0 0 10px #331e1d; }
body .content .search {
  box-shadow: 0 0 10px #331e1d; }

img {
  margin: auto;
  max-width: 100%; }

.logo {
  text-align: center; }
  .logo img {
    height: 150px; }

.menu {
  background: #331e1d;
  height: 201px;
  box-shadow: 0 0 15px #331e1d; }
  .menu .col-xs-12 {
    padding: 0; }
  .menu .nav-pills {
    border: 0;
    background: #331e1d;
    margin: auto; }
    .menu .nav-pills li a {
      color: #b47f2b;
      font-size: 30px;
      font-weight: 700;
      border-radius: 0; }
      .menu .nav-pills li a:hover {
        background: #f9ebbe;
        border-bottom: 3px solid #b47f2b; }

.active {
  border-bottom: 3px solid #b47f2b; }

.content {
  color: #b47f2b;
  padding: 50px;
  margin-left: 105px;
  margin-right: 105px; }
  .content .col-md-4 {
    padding-top: 30px; }
  .content .search .col-md-4 {
    padding-top: 0; }
  .content .result img {
    max-height: 126px;
    max-width: 100%;
    border-radius: 15px; }
  .content .feed {
    padding: 50px 150px; }
    .content .feed .feedBacks .feedBack {
      background: #b47f2b;
      min-height: 150px; }
      .content .feed .feedBacks .feedBack .col-md-3 {
        text-align: center; }
      .content .feed .feedBacks .feedBack img {
        border-radius: 10px;
        max-width: 100%;
        max-height: 130px;
        min-height: 130px; }
  .content .addProperty {
    border-radius: 10px;
    background: #b47f2b;
    padding: 50px 150px;
    color: #331e1d; }

select:focus {
  outline: none; }

input[type="text"]:focus {
  outline: none; }

input[type="password"]:focus {
  outline: none; }

form input[type="numbers"] {
  width: 60px;
  margin-right: 10px;
  margin-top: 10px;
  border: 0;
  background: none;
  border-bottom: 2px solid #331e1d;
  border-radius: 0;
  color: #331e1d; }
  form input[type="numbers"]:focus {
    outline: none; }
form input[type="checkbox"] {
  margin-left: 8px;
  margin-right: 3px;
  border-radius: 5px; }
  form input[type="checkbox"]:focus {
    outline: none; }
form input {
  font-size: 30px; }
form select {
  font-size: 30px; }
form p {
  font-size: 30px; }
form .btn-search {
  font-size: 30px; }
form .btn-send {
  font-size: 30px; }
form .btn-photo {
  font-size: 30px; }
form option {
  font-size: 10px; }

textarea {
  resize: none;
  background: #f9ebbe;
  border: 0;
  font-size: 30px;
  width: 95%;
  height: 100px; }
  textarea:focus {
    outline: none; }

option {
  color: #331e1d;
  background: #f9ebbe; }

.btn-p {
  text-align: right;
  padding-top: 20px; }

.result {
  height: 300px;
  border: 1px solid #b47f2b; }
  .result .col-md-4 {
    padding: 0;
    text-align: center; }

footer {
  color: #b47f2b;
  width: 100%;
  height: 100px;
  background: #331e1d;
  padding: 0 100px;
  box-shadow: 0 0 15px #331e1d;
  bottom: 0; }
  footer .row .col-md-6 h2 {
    font-weight: 700;
    text-align: left; }
  footer .row .col-md-6 .year {
    text-align: right; }

.thumbnails {
  margin-top: 10px; }
  .thumbnails img {
    height: 80px;
    border: 4px solid #b47f2b;
    padding: 1px;
    margin: 0 10px 10px 0; }
    .thumbnails img:hover {
      border: 4px solid #331e1d;
      cursor: pointer; }

.preview {
  height: 500px;
  border: 4px solid #b47f2b; }
  .preview img {
    padding: 1px;
    max-width: 100%;
    max-height: 490px;
    min-height: 490px; }

.map {
  box-shadow: 0 0 15px #331e1d;
  text-align: center; }

.callBackForm {
  background: #b47f2b;
  padding: 10px 15px;
  border-radius: 10px;
  color: #331e1d;
  text-align: center; }
  .callBackForm input {
    font-size: 30px; }
  .callBackForm h3 {
    font-size: 30px; }

.btn-send {
  border: 1px solid #331e1d;
  background: #331e1d;
  color: #f9ebbe; }
  .btn-send:hover {
    background: #f9ebbe;
    color: #b47f2b; }
  .btn-send:visited {
    background: #331e1d;
    color: #f9ebbe; }

::-webkit-input-placeholder {
  color: #331e1d; }

:-moz-placeholder {
  color: #331e1d; }

::-moz-placeholder {
  color: #331e1d; }

:-ms-input-placeholder {
  color: #331e1d; }

.numbers {
  font-size: 32px; }

.address {
  font-size: 32px; }

.vk {
  font-size: 32px;
  margin-top: 100px; }

#vk {
  margin-top: 20px; }
  #vk a {
    color: #b47f2b; }

.newFeedback {
  padding: 20px 30px;
  border-radius: 10px;
  background: #b47f2b;
  color: #331e1d;
  border-bottom: 2px solid #331e1d;
  font-size: 15px; }

#getBack {
  display: none; }

.btn-photo {
  border: 1px solid #331e1d;
  color: #331e1d;
  background: #f9ebbe; }
  .btn-photo:hover {
    background: #f9ebbe;
    color: #b47f2b; }

.enter {
  background: #b47f2b;
  padding: 10px 30px;
  margin: auto auto;
  width: 35%;
  border-radius: 10px;
  color: #331e1d;
  text-align: center; }

.callBackFormProperty {
  margin-top: 30px !important; }

.btn-group {
  margin-top: 30px; }

@media (min-width: 992px) {
  header {
    padding: 3px 30px; }

  .content {
    text-align: justify;
    padding: 20px 30px; }

  .menu .nav {
    width: 970px; }
  .menu .nav-pills li a {
    font-size: 20px; }

  footer {
    height: 80px; }
    footer h2 {
      font-size: 16px; }

  .callBackForm {
    height: 260px;
    margin-top: -320px; }
    .callBackForm input {
      font-size: 20px; }
    .callBackForm h3 {
      font-size: 20px; }

  form input {
    font-size: 18px; }
  form select {
    font-size: 18px; }
  form p {
    font-size: 18px; }
  form .btn-search {
    font-size: 18px; }
  form option {
    font-size: 15px; }

  .map {
    width: 100%;
    height: 100%;
    margin: 60px 0; }

  .contacts {
    margin: 60px 0; }

  .numbers {
    font-size: 22px; }

  .address {
    font-size: 22px; }

  .vk {
    font-size: 22px;
    margin-top: 60px; }

  html body {
    padding: auto auto;
    text-align: center; }
    html body .main {
      max-width: 970px;
      margin: auto; } }
label {
  user-select: none; }

.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/dark-check-green.png);
  margin-right: 10px;
  margin-top: 17px; }

.lite-orange-check {
  background-image: url(http://csscheckbox.com/checkboxes/lite-orange-check.png); }

html body {
  width: 100%;
  height: 100%;
  font-family: Roboto Slab, serif;
  background: #f9ebbe;
  position: relative;
  margin: 0;
  padding: 0; }

.col-md-3 input[type="checkbox"] {
  margin-top: 15px; }

.results h1 {
  text-align: center; }

p .btn-search {
  border: 1px solid #b47f2b;
  background: #331e1d;
  color: #f9ebbe; }
  p .btn-search:hover {
    background: #f9ebbe;
    color: #b47f2b; }

.feedBack:hover {
  box-shadow: 0 0 10px #331e1d; }

.search form .col-xs-6 .css-label {
  height: 30px; }

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
  input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left: 22px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer; }
  input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
    background-position: 0 -17px; }
  input[type=checkbox].css-checkbox.sme + label.css-label.sme {
    padding-left: 22px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer; }
  input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme {
    background-position: 0 -16px; }
  input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left: 22px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer; }
  input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {
    background-position: 0 -20px; }
  input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer; }
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px; }

.feedBack .row {
  background: #b47f2b;
  border-radius: 10px;
  margin: 30px 0;
  padding: 20px 40px;
  color: #331e1d;
}

.hide_this {
  display: none;
}
/*# sourceMappingURL=style.css.map */
